{%extends 'all-news/base.html'%} {% block content %} {{ block.super}} {% load bootstrap3 %}
<div class="container">

    <!-- Looping through news   -->
    {% for news_item in news %}

    <div class="row" style="border:solid 5px #6153cc;border-radius: 25px;">

        <!--Display news Article images  -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image" style="width:600px;height:400px; ">
        </div>
        <!-- displaying News articles -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center" style="color: #6153cc;"> {{ news_item.title }} </h2>
        </div>
        <!--Display news Article post -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>{{news_item.post}}</p>
        </div>
        <!--Display news Article date posted -->

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="color: #6153cc;">
            <p>Posted {{news_item.pub_date|timesince}} by {{news_item.editor.first_name}}</p>
        </div>
    </div><br> {% empty %}
    <div class="row">
        <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}


</div>
<div class="container-fluid">

    <form action="{%url 'newsToday' %}" method="post">
        {%csrf_token%} {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
    </form>

</div>

{% endblock %}